.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 600px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  height: 150px;
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item.gallery-item-selected {

  height: 450.52px;
  width: 350px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: 350px;
  opacity: 1;
  width: 200px;
  z-index: 1;
  border: none;
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  height: 215px;
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
  height: 215px;
  left: 85%;
  transform: translateX(-50%);
}

.gallery-controls {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.gallery-controls button {

  position: absolute;
  top: auto;
  right: -20px;
  bottom: 350px;
  border: none;
  cursor: pointer;
  margin: 0 20px;
  padding: 0 12px;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  display: none;
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  background-color: transparent;
  position: relative;
  font-size: 0;
}

.gallery-controls-next::after {
  background-image: url("../img/arrorw-right.svg");
  content: '';
  display: inline-block;
  width: 17.74px;
  height: 38.07px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
}

@media(max-width:576px) {
  .gallery-controls-next::after {
    z-index: 10;
    right: -50px;
  }
}

.gallery-nav {
  bottom: 90px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.gallery-nav li {
  border: 1px solid white;
  background: transparent;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #fff;
}